################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MailClient/bin/Debug
/MailClient/obj/Debug
/packages
